@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Monoton|Special+Elite&display=swap");

body {
	background-color: white;
	color: black;
	font-family: "Special Elite";
}

.app {
	height: 200px;
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

p {
	font-size: 50px;
}

button {
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
}

label {
	font-size: 30px;
}

.mode-select {
	display: block;
	padding-top: 30px;
}

select {
	font-size: 20px;
}

/*Modes shown below*/

.clouds {
	background-color: lightcyan;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: "Fredoka One", Helvetica, sans-serif;
}

.stars {
	background-color: black;
	color: lightgrey;
	font-family: "Monoton", Helvetica, sans-serif;
}

